.card-product{
    margin-top: 100px;
}
.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content:space-between;
}

.rating-wrap{
    display: flex;
    justify-content: space-between;
}

.label-rating { 
    color: #333;
    display: inline-block;
    vertical-align: middle;
}
.label-rating img{
    width: 20px;
    cursor: pointer;
}
.card-product .price-old {
    color: #999;
}
.card-product .title{
    font-size: 16px;
}
