.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
    font-size: 12px;
}
.card h5{
    font-size: 12px;
}
.btn-circle.btn-lg, .btn-group-lg>.btn-circle.btn {
    width: 10px;
    height: 10px;
    padding: 10px 11px;
    font-size: 10px;
    line-height: 15px;
}
.text-muted {
    color: #8898aa!important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-circle {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    padding: 10px;
}
.user-table tbody tr .category-select {
    max-width: 150px;
    border-radius: 20px;
}

.addimg{
    width: 15px !important;
    height: 15px;
}


.dot {
    height: 30px;
    width: 30px;
    background-color: rgb(26, 248, 6);
    border-radius: 50%;
    display: inline-block;
    padding: 6px 6px;
  }

  .dot1 {
    height: 30px;
    width: 30px;
    background-color: rgb(247, 6, 6);
    border-radius: 50%;
    display: inline-block;
    padding: 7px 7px;
  }
